*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  display: grid;
  grid-template-rows: 100px 1fr auto; /* Adjust rows to fit header, main, and footer */
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #524e4e;
  color: rgb(179, 168, 166);
  overflow: hidden; /* Prevent scrolling */
}

header{
    display: flex;
    background-color: #333;
    color: aquamarine;
}



footer{
  background-color: #292828;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

h1 {
    text-align: center;
}


.topnav {
    display: flex;
    background-color: #333;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 3.5rem;
  }

.topnav a { 
    color: #f2f2f2;
    text-align: center;
    padding:  16px;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
  }

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }


  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

  section {
    margin-bottom: 40px;
  }

  h2 {
    color: white ;
  }


  .tenor-gif-embed {
    max-width: 100%;
    max-height: calc(100vh - 150px); /* Ensure it fits within the viewport */
}

@media (max-width: 600px) {
    .topnav a {
      font-size: 18px;
      padding: 10px;
    }
    main {
      padding: 1rem;
    }
    button {
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
}