*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: grid;
    grid-template-rows: 100px auto 50px;
    min-height: 100vh;
}

header{
    display: flex;
}

main{
 
}

footer{
  
}



.topnav {
    background-color: #333;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }

.topnav a { 
    color: #f2f2f2;
    text-align: center;
    padding:  16px;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
  }